<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"></script>

<link rel="stylesheet" href="/css/adminPanel/admin.css">
<div class="container">
    <div class="ongoing-projects-container">
        <h2>Ongoing Projects</h2>
        <div class="display-project-cards-container">
            <% for(let project of projects){ %>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title" style="text-decoration: underline;">
                            <%= project.name %>
                        </h4>
                        <p class="card-text project-description">
                            <%= project.description %>
                        </p>
                        <p class="card-text"><span>Member Count:&nbsp;</span>
                            <%= project.team.length %>
                        </p>
                        <p class="card-text"><span>Created At:&nbsp;</span>
                            <%= project.createdAt.toString().substring(0,15) %>
                        </p>
                        <a href="feedback/sendFeedback/<%= project._id %>" class="btn btn-primary">Send Feedback Form To
                            Members</a>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</div>